[submodule "latex"]
	path = latex
	url = git@github.com:FIIT-Bc-projects/2024-BP-Kozubov-Photo-Restoration-AI-Latex.git
[submodule "application"]
	path = application
	url = git@github.com:FIIT-Bc-projects/2024-BP-Kozubov-Photo-Restoration-WebApplication.git
[submodule "projects/digit-classification-scratch"]
	path = projects/digit-classification-scratch
	url = git@github.com:justAnArthur/digit-classification-scratch.git
[submodule "projects/simple-autoencoder"]
	path = projects/simple-autoencoder
	url = git@github.com:justAnArthur/simple-autoencoder.git
[submodule "projects/mri-brain-denoising-nn"]
	path = projects/mri-brain-denoising-nn
	url = git@github.com:justAnArthur/mri-brain-denoising-nn.git
[submodule "projects/super-resolution-nn"]
	path = projects/super-resolution-nn
	url = git@github.com:FIIT-Bc-projects/2024-BP-Kozubov-Photo-Restoration-AI-ESRM.git